html,
body {
    margin: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

// use this file only to add some global styles
// for example you can create separate files for header, footer etc.
// main rule for divide code to modules - DRY principle - 'Dont repeat yourself'. 